
h2.performance-plugin-conclusion {
  text-align: center;
  color: azure;
  background-color: #4698a0;
  padding: 5px;
}

div.charts-highchart {
  display: inline-block;
}

h4.performance-plugin-iterations {
  text-align: center;
}
